## Preprocessing Area

In [1]:
import psycopg2
import pandas as pd

In [2]:
?pd.read_csv

In [25]:
headers = ["age", "workclass", "fnlwgt", "education", "education_num", "marital_status",
           "occupation", "relationship", "race", "sex", "capital_gain", "capital_loss integer", 
           "hours_per_week", "native_country", "salary_range"]
train_df = pd.read_csv("Data/adult_train.csv", header=0, names = headers, na_values=" ?")
test_df = pd.read_csv("Data/adult_test.csv", header=0, names = headers, na_values=" ?")
#df.apply(lambda x: x.str.strip())

In [29]:
full_df = pd.concat([train_df, test_df])
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48841 entries, 0 to 16280
Data columns (total 15 columns):
age                     48841 non-null int64
workclass               46042 non-null object
fnlwgt                  48841 non-null int64
education               48841 non-null object
education_num           48841 non-null int64
marital_status          48841 non-null object
occupation              46032 non-null object
relationship            48841 non-null object
race                    48841 non-null object
sex                     48841 non-null object
capital_gain            48841 non-null int64
capital_loss integer    48841 non-null int64
hours_per_week          48841 non-null int64
native_country          47984 non-null object
salary_range            48841 non-null object
dtypes: int64(6), object(9)
memory usage: 6.0+ MB

In [30]:
m = [' Married-civ-spouse', ' Widowed', ' Married-spouse-absent', ' Married-AF-spouse', ' Separated']
u = [' Divorced',' Never-married']
for married in m:
    full_df['marital_status'] = full_df['marital_status'].replace(married,"Married")
for unmarried in u:
    full_df['marital_status'] = full_df['marital_status'].replace(unmarried,"Unmarried")
full_df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss integer,hours_per_week,native_country,salary_range
0,50,Self-emp-not-inc,83311,Bachelors,13,Married,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Unmarried,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [32]:
full_df.shape

(48841, 15)

In [33]:
full_df.to_csv("adults_total.csv", index=False)